
.AnchorPane1 {
    -fx-background-color: #478bda;
    -fx-background-radius: 10px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 2, 2);
}


.logo {
    /* applied on your ImageView */
    -fx-background-image: url("/Image/Logo/icon.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-padding: 5;    /* gives it a little breathing room */
}

.logo_text{
    -fx-text-fill: #ffffff;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

HBox {
    -fx-spacing: 8;       /* pixels between the Text, Label, and Button */
    -fx-padding: 10;
}

HBox > Text {
    -fx-text-fill: white;
    -fx-font-size: 37px;
    -fx-font-weight: bold;
}


.button,
.menu-button {
    -fx-background-color: white;
    -fx-text-fill: #478bda;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-weight: bold;
    -fx-padding: 8px 12px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 3, 0, 0, 2);
}


.button:hover,
.menu-button:hover {
    -fx-background-color: #e0eaff;
    -fx-text-fill: #478bda;
}


.menu-button > .arrow {
    -fx-background-color: transparent;
}


.menu-item {
    -fx-background-color: white;
    -fx-text-fill: #478bda;
    -fx-font-weight: normal;
}

.menu-item:hover {
    -fx-background-color: #e0eaff;
    -fx-text-fill: #478bda;
}


Label {
    -fx-font-size: 14px;
}


Text {
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
}



VBox {
    -fx-background-radius: 10px;
    -fx-border-radius: 20px;
}

VBox .Text {
    /* This specifically targets the <Text> inside your bottom VBox */
    -fx-text-fill: #478bda;
    -fx-font-weight: bold;
}

VBox Button {
    /* and its button */
    -fx-background-color: white;
    -fx-text-fill: #478bda;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 6px 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2, 0, 0, 1);
}

/* For the main menu list */
.menu {
    -fx-spacing: 12;      
    -fx-padding: 10 0;    
}

/* For the suggestion/bug-report box */
.suggestion-box {
    -fx-background-color: white;
    -fx-border-radius: 10px;
    -fx-spacing: 8;       
    -fx-padding: 10;      
}
/*
Admin top bar design
*/
.grid{
    /* -fx-background-color: #478bda; */
    -fx-background-radius: 0px 0px 10px 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 2, 2);
}

.profile_icon{
    -fx-background-image: url("/Image/Logo/profile.png");
    -fx-image: url("/Image/Logo/profile.png");
}