/* registration.css */

.root {
    -fx-background-color: #f5f6fa;
    -fx-font-family: 'Segoe UI', sans-serif;
}

.login-header {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-fill: #333;
}

.label {
    -fx-font-size: 13px;
    -fx-text-fill: #333333;
}

.text-field,
.password-field {
    -fx-pref-width: 250px;
    -fx-pref-height: 40px;
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: transparent;
    -fx-padding: 0 10 0 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.05), 5, 0, 0, 2);
    -fx-font-size: 14px;
}

.text-field:focused,
.password-field:focused {
    -fx-border-color: #1f54c6;
    -fx-border-width: 1.5px;
}

.button {
    -fx-background-color: #935f66;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 6, 0.2, 0, 2);
}

.button:hover {
    -fx-background-color: #7a4f55;
}

.hyperlink {
    -fx-text-fill: #1f54c6;
    -fx-font-size: 13px;
    -fx-underline: false;
}

.hyperlink:hover {
    -fx-underline: true;
}

.error {
    -fx-text-fill: red;
    -fx-font-size: 12px;
}

.side-pane {
  
}

.company-name {
    -fx-font-size: 28px;
    -fx-fill: #7a4f55;
    -fx-font-weight: bold;
}
