.side-pane {
    -fx-background-color: #1366c8; /* fallback color */
    -fx-background-image: url("icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: 200px 200px;
}


/* Text field styling (username & password) */
.text-field, .password-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #1f54c6;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 8 12;
    -fx-font-size: 14px;
    -fx-text-fill: #1f54c6;
}

/* Focused text field */
.text-field:focused, .password-field:focused {
    -fx-border-color: #003c8f;
    -fx-effect: dropshadow(three-pass-box, #cce0ff, 5, 0, 0, 0);
}

/* Label styling */
.label {
    -fx-text-fill: #1f54c6;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

/* Button styling */
.button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #1f54c6;
    -fx-border-color: #1f54c6;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-padding: 6 20;
}

/* Hover effect for button */
.button:hover {
    -fx-background-color: #1f54c6;
    -fx-text-fill: white;
}


/* For the company name "GoInventroy" */
.company-name {
    -fx-fill: #ffffff;               /* white text */
    -fx-font-size: 34px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0.3, 1, 1);
}

/* For the page header "Login" */
.login-header {
    -fx-fill: #1f54c6;               /* brand blue */
    -fx-font-size: 19px;

}


.error{
    -fx-text-fill: #d10f21;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}